
body {
    margin: 0;
    font-family: 'Segoe UI';
    background-color: whitesmoke;
    color: #333;
}


.anime-card {
  width: 250px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}


.homePage {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: white;
  padding-top: 1px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
  justify-content: center;
}

.search-bar {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.Search-btn {
  padding: 10px 20px;
  background-color: #1e88e5;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.count-drpdwn {
 padding: 10px 20px;
  background-color: #1e88e5;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.anime-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.anime-card {
  background-color: whitesmoke ;
  width: 200px;
  text-align: center;
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.anime-card img {
  width: 100%;
  /* border-radius: 6px; */
}

.anime-info {
  margin-top: 10px;
}

.anime-info h3 {
  font-size: 14px;
  margin: 0;
}

.anime-info p {
  font-size: 12px;
  color: gray;
}
